# 将 FogRenderer.FogData 设为 public
public net.minecraft.client.renderer.FogRenderer$FogData

# 将字段设为 public
public net.minecraft.client.renderer.FogRenderer$FogData start
public net.minecraft.client.renderer.FogRenderer$FogData end
public net.minecraft.client.renderer.FogRenderer$FogData mode